.audacity-data
.cmake
.bash_logout
.cache
.cfg
.code42
.config/*
!.config/git/config
!.config/ipython/profile_default/ipython_config.py
!.config/latexmk
!.config/octave/config
!.config/python/pythonrc
!.config/pulse/default.pa
!.config/readline/inputrc
!.config/shell
!.config/tmux
!.config/wget
!.config/x11
.cups
.dropbox*
.DView
.hplip
.java
!.local/bin
.local/bin/latex2text
.local/bin/latexencode
.local/bin/latexwalker
.local/bin/parsebib
.local/lib
.local/share
!.local/share/pandoc/filters/*
.local/state
!.local/share/texmf/tex/latex/local
.matlab
.mozilla
.netrc
.pulse_secure
.rnd
.ssh
.swt
.tox
!.vim/
.vim/*
!.vim/after/
!.vim/plugin/
.vim/plugin/*
!.vim/plugin/bclose.vim
.viminfo
.vscode-oss
.zoom
BCL
Desktop
Documents
Downloads
Dropbox
node_modules
Pictures
Storage
Templates
VirtualBox\ VMs
