.adobe
.audacity*
.cmake
.bash_history
.bash_logout
.cache
.ccache
.cfg
.code42
.config
!.config/git
!.config/ipython
!.config/latexmk
!.config/octave
!.config/shell
!.config/tmux
!.config/wget
!.config/x11
.cups
.dropbox*
.dvdcss
.DView
.esd_auth
.fontconfig
.gimp-*
.git-credentials
.gnupg
.hplip
!.ipython/
.ipython/*
!.ipython/profile_default/
.ipython/profile_default/*
!.ipython/profile_default/ipython_config.py
.java
.jupyter
.kde4
.keras
.lesshst
!.local/bin
.local/bin/latex2text
.local/bin/latexencode
.local/bin/latexwalker
.local/bin/parsebib
.local/lib
.local/share
!.local/share/texmf/tex/latex/local
.lyx
.macromedia
.matlab
.mixxx
.mozilla
.mysql_history
.netrc
.npm
.nv
.opam
.oracle_jre_usage
.pandoc
.pdbhistory
.pki
.profile
.pulse_secure
.pylint.d
.python_history
.rnd
.sage
.ssh
.sudo_as_admin_successful
.subversion
.swt
.texlive
.tox
!.vim/
.vim/*
!.vim/after/
!.vim/plugin/
.vim/plugin/*
!.vim/plugin/bclose.vim
.viminfo
.vscode-oss
.zoom
BCL
Desktop
Documents
Downloads
Dropbox
node_modules
[Nn]umerics
Pictures
Storage
Templates
VirtualBox\ VMs
