.DView
.audacity-data
.bash_history
.bash_logout
.cache
.cfg
.cmake
.code42
.config/.gsd-keyboard.settings-ported
.config/.org.chromium.Chromium.*
.config/Code - OSS
.config/CrashPlan
.config/Florian_Hackenberger
.config/GIMP
.config/LanguageTool
.config/Mendeley Ltd.
.config/Microsoft
.config/NREL
.config/Nextcloud
.config/OpenStudio
.config/QtProject.conf
.config/Slack
.config/Unknown Organization
.config/VirtualBox
.config/autostart
.config/background
.config/bluetooth
.config/cef_user_data
.config/chromium
.config/configstore
.config/dangerzone
.config/dconf
.config/download-director
.config/dleyna-renderer-service.conf
.config/dleyna-server-service.conf
.config/dunst
.config/enchant
.config/eog
.config/evince
.config/evolution
.config/fontforge
.config/freerdp
.config/gconf
.config/gedit
.config/git/credentials
.config/gnome-boxes
.config/gnome-builder
.config/gnome-control-center
.config/goa-1.0
.config/gtk-2.0
.config/gtk-3.0
.config/gtk-4.0
.config/guake
.config/htop
.config/ibus
.config/inkscape
.config/ipython/profile_default/db
.config/ipython/profile_default/history.sqlite
.config/ipython/profile_default/startup
.config/jupyter
.config/kconf_updaterc
.config/kdeglobals
.config/ktikzrc
.config/libreoffice
.config/libvirt
.config/mimeapps.list
.config/monitors.xml
.config/nautilus
.config/octave/octave-gui.ini
.config/octave/qt-settings
.config/okularpartrc
.config/okularrc
.config/okular.kmessagebox
.config/pdfarranger
.config/pianobar/config
.config/pianobar/state
.config/pip
.config/pipewire-media-session
.config/pki
.config/pulse/*-default-s*
.config/pulse/*.tdb
.config/pulse/cookie
.config/rclone
.config/remmina
.config/session
.config/simple-scan
.config/spotify
.config/systemd
.config/teams
.config/totem
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc
.config/wal
.config/xdg-terminals.list
.config/zathura
.config/zoom.conf
.config/zoomus.conf
.crashplan
.cups
.dropbox*
.hplip
.java
.keras
.local/bin/booksplit
.local/bin/compiler
.local/bin/coverage
.local/bin/coverage-3.10
.local/bin/coverage3
.local/bin/cron/
.local/bin/displayselect
.local/bin/dmenuhandler
.local/bin/dmenumount
.local/bin/dmenumountcifs
.local/bin/dmenupass
.local/bin/dmenurecord
.local/bin/dmenuumount
.local/bin/dmenuunicode
.local/bin/estimator_ckpt_converter
.local/bin/fonttools
.local/bin/getbib
.local/bin/getkeys
.local/bin/ifinstalled
.local/bin/import_pb_to_tensorboard
.local/bin/ipdb3
.local/bin/latex2text
.local/bin/latexencode
.local/bin/latexwalker
.local/bin/lfub
.local/bin/linkhandler
.local/bin/maimpick
.local/bin/markdown-it
.local/bin/myst-anchors
.local/bin/myst-docutils-html
.local/bin/myst-docutils-html5
.local/bin/myst-docutils-latex
.local/bin/myst-docutils-pseudoxml
.local/bin/myst-docutils-xml
.local/bin/noisereduce
.local/bin/opout
.local/bin/otp
.local/bin/parsebib
.local/bin/pauseallmpv
.local/bin/peertubetorrent
.local/bin/podentr
.local/bin/prompt
.local/bin/py.test
.local/bin/pyftmerge
.local/bin/pyftsubset
.local/bin/pytest
.local/bin/qndl
.local/bin/queueandnotify
.local/bin/remaps
.local/bin/rotdir
.local/bin/rssadd
.local/bin/saved_model_cli
.local/bin/sd
.local/bin/setbg
.local/bin/shortcuts
.local/bin/slider
.local/bin/statusbar
.local/bin/sysact
.local/bin/tag
.local/bin/td-toggle
.local/bin/tensorboard
.local/bin/texclear
.local/bin/tf_upgrade_v2
.local/bin/tflite_convert
.local/bin/toco
.local/bin/toco_from_protos
.local/bin/torwrap
.local/bin/transadd
.local/bin/ttx
.local/bin/tutorialvids
.local/bin/unix
.local/lib
.local/pipx
.local/share/LanguageTool
.local/share/Mendeley Ltd.
.local/share/Nextcloud
.local/share/RecentDocuments
.local/share/Trash
.local/share/applications
.local/share/backgrounds
.local/share/bg
.local/share/data
.local/share/epiphany
.local/share/evolution
.local/share/flatpak
.local/share/folks
.local/share/gedit
.local/share/gnome-builder
.local/share/gnome-photos
.local/share/gnome-remote-desktop
.local/share/gnome-settings-daemon
.local/share/gnome-shell
.local/share/gnupg
.local/share/grilo-plugins
.local/share/gsettings-data-convert
.local/share/gvfs-metadata
.local/share/icc
.local/share/iwctl
.local/share/jupyter
.local/share/kcookiejar
.local/share/keyrings
.local/share/larbs
.local/share/lesshst
.local/share/lf
.local/share/man
.local/share/maps-places.json
.local/share/mendeleydesktop
.local/share/mime
.local/share/nautilus
.local/share/octave
.local/share/okular
.local/share/pass
.local/share/pki
.local/share/ranger
.local/share/recently-used.xbel*
.local/share/remmina
.local/share/telepathy
.local/share/texmf/doc
.local/share/texmf/tex/latex/beamer
.local/share/tracker
.local/share/virtualenv
.local/share/vlc
.local/share/webkitgtk
.local/share/xorg
.local/share/yelp
.local/share/zathura
.local/share/zoom
.local/state
.matlab
.mozilla
.netrc
.nv
.pki
.pulse_secure
.rnd
.ssh
.swt
.tox
.vim/autoload
.vim/dirs
.vim/plugged
.vim/spell/en.utf-8.add.spl
.viminfo
.vscode-oss
.zoom
BCL
Desktop
Documents
Downloads
Dropbox
Pictures
Storage
Templates
VirtualBox\ VMs
node_modules
